* {
    justify-content: center;
}
body {
    background: rgb(125, 125, 252);
}
header{
    font-size: 20pt;
    font-family: 'Love';
    color: white;
    text-align: center;
    padding: 60px;
}
section { 
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 1200px;
    height: 4450px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}
div {
    font-family: 'Valentines';
    font-size: 40pt;
    padding: 5px;
    text-align: center;
}
footer {
    color: white;
    text-align: center;
    font-style: italic;
}
@media(max-width: 800px){
    body {
        min-width: 100%;
        display: flex;
        flex-direction: column;
        height: 450px;
        width: 100%;
    }
}